Hyperledger/HyperledgerFabric-on-LinuxOne/blockchainflow.json
[
    {
        "id": "f3ea0c80.1744b",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "72360b12.36f004",
        "type": "ui_group",
        "z": "",
        "name": "Blockchain",
        "tab": "2a876f19.0af568",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "64c77f08.17e9c8",
        "type": "ui_group",
        "z": "",
        "name": "Thermostat",
        "tab": "2a876f19.0af568",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2a876f19.0af568",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "f644913a.10cd98",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94ef22f.e91a56",
        "type": "ui_group",
        "z": "",
        "name": "Blockchain",
        "tab": "5019005c.024db",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5329fc38.f9991c",
        "type": "ui_group",
        "z": "",
        "name": "Thermostat",
        "tab": "5019005c.024db",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5019005c.024db",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "1ee0cb15.d216fd",
        "type": "http request",
        "z": "f3ea0c80.1744b",
        "name": "Add Block",
        "method": "POST",
        "ret": "obj",
        "url": "http://148.100.5.9:3000/api/org.acme.sample.SetSensorTemp",
        "tls": "",
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "fdc93bd.b1faec8"
            ]
        ]
    },
    {
        "id": "e1dcc27a.7ea0c",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain",
        "func": "d = msg.payload.d.temperature;\ntid = global.get('teamName');\ntime = new Date().toISOString();\nmsg.payload = {\n \"$class\": \"org.acme.sample.SetSensorTemp\",\n  \"gauge\": \"resource:org.acme.sample.Sensor#teamid:\"+tid,\n  \"newSensorValue\": d,\n  \"timestamp\": time\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1016.9999914169312,
        "y": 439.00001525878906,
        "wires": [
            [
                "1ee0cb15.d216fd"
            ]
        ]
    },
    {
        "id": "3b2660c5.3445d8",
        "type": "ui_text_input",
        "z": "f3ea0c80.1744b",
        "name": "",
        "label": "TeamName",
        "group": "94ef22f.e91a56",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "500",
        "topic": "",
        "x": 1103.6666526794434,
        "y": 599.0000152587891,
        "wires": [
            [
                "dbdefdbf.3d12a"
            ]
        ]
    },
    {
        "id": "b2f61a15.a3ddc",
        "type": "http request",
        "z": "f3ea0c80.1744b",
        "name": "Set Team Name",
        "method": "POST",
        "ret": "obj",
        "url": "http://148.100.5.9:3000/api/org.acme.sample.Sensor",
        "tls": "",
        "x": 1402.0555572509766,
        "y": 764.222240447998,
        "wires": [
            [
                "8a6646ff.a445c"
            ]
        ]
    },
    {
        "id": "dbdefdbf.3d12a",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "setTeamname",
        "func": "n = msg.payload;\nglobal.set('teamName',n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320.6666526794434,
        "y": 600.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "357f3aac.675316",
        "type": "weather_insights",
        "z": "f3ea0c80.1744b",
        "name": "Current Weather",
        "host": "twcservice.mybluemix.net",
        "service": "/observations.json",
        "geocode": "",
        "units": "m",
        "language": "",
        "x": 1191.6666526794434,
        "y": 863.0000152587891,
        "wires": [
            [
                "b9afd5dd.013f4"
            ]
        ]
    },
    {
        "id": "37d857f1.716798",
        "type": "inject",
        "z": "f3ea0c80.1744b",
        "name": "",
        "topic": "",
        "payload": "41.8585185,-88.372492",
        "payloadType": "str",
        "repeat": "240",
        "crontab": "",
        "once": true,
        "x": 903.777759552002,
        "y": 862.9999828338623,
        "wires": [
            [
                "357f3aac.675316"
            ]
        ]
    },
    {
        "id": "bca4bf31.a7b478",
        "type": "ui_button",
        "z": "f3ea0c80.1744b",
        "name": "",
        "group": "5329fc38.f9991c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change Thermostat",
        "color": "Light Blue",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 880.6666526794434,
        "y": 988.0000152587891,
        "wires": [
            [
                "8c84f9d0.2f793"
            ]
        ]
    },
    {
        "id": "8c84f9d0.2f793",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "ChangeThermo",
        "func": "tid = global.get('teamName');\ntime = new Date().toISOString();\nthermo = global.get('TempThermostat');\nasset = \"resource:org.acme.sample.Sensor#teamid:\"+tid,\n\nmsg.payload = {\n  \"$class\": \"org.acme.sample.ChangeThermostatTemp\",\n   \"thermostat\": asset,\n  \"newThermostatValue\": thermo,\n  \"timestamp\": time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1198.6666526794434,
        "y": 990.0000152587891,
        "wires": [
            [
                "16e10f0c.cc5d21"
            ]
        ]
    },
    {
        "id": "16e10f0c.cc5d21",
        "type": "http request",
        "z": "f3ea0c80.1744b",
        "name": "Change Thermostat",
        "method": "POST",
        "ret": "obj",
        "url": "http://148.100.5.9:3000/api/org.acme.sample.ChangeThermostatTemp",
        "tls": "",
        "x": 1526.5555610656738,
        "y": 993.1111326217651,
        "wires": [
            [
                "9e89c128.5ce5e8"
            ]
        ]
    },
    {
        "id": "72072298.80512c",
        "type": "ui_button",
        "z": "f3ea0c80.1744b",
        "name": "",
        "group": "94ef22f.e91a56",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Get Recommendation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 955.4444274902344,
        "y": 1182.5556106567383,
        "wires": [
            [
                "cd4b47f0.68b88"
            ]
        ]
    },
    {
        "id": "cd4b47f0.68b88",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "getRecommendation",
        "func": "tid = global.get('teamName');\ntime = new Date().toISOString();\nweather = global.get('weather-observation');\nasset = \"resource:org.acme.sample.Sensor#teamid:\"+tid,\ntransid = global.get('lastTransID');\nmsg.payload = {\n  \"$class\": \"org.acme.sample.CompareWeather\",\n  \"transactionId\": transid,\n  \"recommend\": asset,\n  \"outsideTemp\": weather.temp,\n  \"feelsLike\": weather.feels_like,\n  \"timestamp\": time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1199.4444274902344,
        "y": 1182.5556106567383,
        "wires": [
            [
                "ac2491e2.1c61"
            ]
        ]
    },
    {
        "id": "ac2491e2.1c61",
        "type": "http request",
        "z": "f3ea0c80.1744b",
        "name": "CompareWeather",
        "method": "POST",
        "ret": "obj",
        "url": "http://148.100.5.9:3000/api/org.acme.sample.CompareWeather",
        "tls": "",
        "x": 1439.4444274902344,
        "y": 1182.5556106567383,
        "wires": [
            [
                "e4eedce1.caf208",
                "96e13e95.d5eec"
            ]
        ]
    },
    {
        "id": "e4eedce1.caf208",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "getTeamID",
        "func": "team = global.get('teamName');\nmsg = {};\nmsg.topic = \"teamid%3A\"+team;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1658.4444274902344,
        "y": 1182.5556106567383,
        "wires": [
            [
                "875cf191.ec81c8"
            ]
        ]
    },
    {
        "id": "875cf191.ec81c8",
        "type": "http request",
        "z": "f3ea0c80.1744b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://148.100.5.9:3000/api/org.acme.sample.Sensor/{{{topic}}}",
        "tls": "",
        "x": 1852.4444274902344,
        "y": 1182.5556106567383,
        "wires": [
            [
                "8c856891.dc0958"
            ]
        ]
    },
    {
        "id": "31763e62.54f792",
        "type": "ui_toast",
        "z": "f3ea0c80.1744b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1408.6666526794434,
        "y": 681.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "8058ff8a.6deb38",
        "type": "inject",
        "z": "f3ea0c80.1744b",
        "name": "check team name",
        "topic": "Team Name is not set. Please add your team name and press the add team name button",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 835.6666526794434,
        "y": 694.0000152587891,
        "wires": [
            [
                "1f2a526e.47de7e",
                "116a49b5.5ee9ee"
            ]
        ]
    },
    {
        "id": "1f2a526e.47de7e",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "locatedTeamName",
        "func": "team = global.get(\"teamName\");\nif (team){\n    msg.topic=\"Team Name is set\"\n    msg.payload = team;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190.6666526794434,
        "y": 680.0000152587891,
        "wires": [
            [
                "31763e62.54f792"
            ]
        ]
    },
    {
        "id": "dba6e20f.7a613",
        "type": "ui_button",
        "z": "f3ea0c80.1744b",
        "name": "",
        "group": "94ef22f.e91a56",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Add Team Name",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 879.6666526794434,
        "y": 764.0000152587891,
        "wires": [
            [
                "5335d93.10223a8"
            ]
        ]
    },
    {
        "id": "5335d93.10223a8",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "getTeamName",
        "func": "\nn = global.get('teamName');\nmsg.payload = {\n  \"$class\": \"org.acme.sample.Sensor\",\n  \"teamID\": \"teamid:\"+n,\n  \"teamName\": n,\n  \"sensorTemp\":0,\n  \"thermostatTemp\":0,\n  \"recommendation\":\"none\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1136.1666450500488,
        "y": 764.5555877685547,
        "wires": [
            [
                "b2f61a15.a3ddc"
            ]
        ]
    },
    {
        "id": "116a49b5.5ee9ee",
        "type": "function",
        "z": "f3ea0c80.1744b",
        "name": "Find Team Name",
        "func": "n = global.get('teamName');\nif (n){\n    msg.payload = n;\n}else{\n    msg.payload=\"Please Add Team Name\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 878.6666526794434,
        "y": 602.0000152587891,
        "wires": [
            [
                "3b2660c5.3445d8"
            ]
        ]
    },
    {
        "id": "e2f25876.c3415",
        "type": "ui_text",
        "z": "f3ea0c80.1744b",
        "group": "94ef22f.e91a56",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Ask Block Chain for Recommendation",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 928.6666526794434,
        "y": 1093.000015258789,
        "wires": []
    },
    {
        "id": "b9afd5dd.013f4",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Weather",
        "links": [
            "1e684a8f.b97ac5",
            "30a06d42.4fc062"
        ],
        "x": 1362.7222633361816,
        "y": 864.2222185134888,
        "wires": []
    },
    {
        "id": "fdc93bd.b1faec8",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain add block",
        "links": [
            "26579818.2a28c8"
        ],
        "x": 1449.277696609497,
        "y": 440.00000381469727,
        "wires": []
    },
    {
        "id": "8a6646ff.a445c",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain - teamname",
        "links": [
            "26579818.2a28c8",
            "95f66de6.73289"
        ],
        "x": 1566.6110944747925,
        "y": 763.11106300354,
        "wires": []
    },
    {
        "id": "9e89c128.5ce5e8",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain change thermo",
        "links": [
            "26579818.2a28c8",
            "691d8fae.cc6dd"
        ],
        "x": 1694.3888502120972,
        "y": 994.2221832275391,
        "wires": []
    },
    {
        "id": "96e13e95.d5eec",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain Compare",
        "links": [
            "26579818.2a28c8"
        ],
        "x": 1567.7221946716309,
        "y": 1275.333267211914,
        "wires": []
    },
    {
        "id": "8c856891.dc0958",
        "type": "link out",
        "z": "f3ea0c80.1744b",
        "name": "Blockchain recommendation",
        "links": [
            "26579818.2a28c8",
            "34c327fb.be62a8"
        ],
        "x": 1981.0554466247559,
        "y": 1264.222183227539,
        "wires": []
    },
    {
        "id": "9f49e55a.8ff408",
        "type": "link in",
        "z": "f3ea0c80.1744b",
        "name": "IoT Event - Temperature",
        "links": [
            "2dcfad9.1e84952",
            "f8160c87.24af3"
        ],
        "x": 804.3333511352539,
        "y": 439.3333339691162,
        "wires": [
            [
                "e1dcc27a.7ea0c"
            ]
        ]
    }
]
